<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.congdanh.wifiwpsconnect" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_SUPERUSER" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.samsung.android.providers.context.permission.WRITE_USE_APP_FEATURE_SURVEY"/>


    <application
        android:allowBackup="true"
        android:icon="@drawable/wifiwpsconnect"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.congdanh.wifiwpsconnect.MainActivity"
            android:label="@string/app_name"
            android:configChanges="locale|orientation|keyboardHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.congdanh.wifiwpsconnect.ConnectionProperties"
            android:label="@string/conn_pro_name" >
            <intent-filter>
                <action android:name="com.congdanh.crackwps.ConnectionProperties" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.congdanh.wifiwpsconnect.Setting"
            android:label="@string/setting_name" >
            <intent-filter>
                <action android:name="com.congdanh.crackwps.Setting" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="com.startapp.android.publish.list3d.List3DActivity"
            android:theme="@android:style/Theme" />

        <activity android:name="com.startapp.android.publish.AppWallActivity"
            android:theme="@android:style/Theme.Translucent"
            android:configChanges="orientation|keyboardHidden|screenSize" />
    </application>

</manifest>
